.grid-highlight {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #5c6ac4;
    border: 1px solid #202e78;
    color: #fff;
}

hr {
    margin: 6rem 0;
}

hr+.display-3,
hr+.display-2+.display-3 {
    margin-bottom: 2rem;
}

span.invalid{
    color: red;
    display: block;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
}

.container-fluid{
    margin-top: 54px;
}

.polished-sidebar ul.polished-sidebar-menu li.current-menu-item {
    background: #b3bcf5;
    border: none;
}

.m-b-20{
    margin-bottom: 20px;
}

#response{
    display: none;
}
#response p{
    margin-bottom: 5px!important;
}

.total_transactions{
    font-size: 20px;
}